body {
    background-color: rgb(247, 247, 247);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://img.freepik.com/vector-premium/bandera-republica-dominicana-efecto-ondulado-proporcion-oficial_292608-2260.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0%;
    text-align: center;
    margin-top: 600px;

}

h2 {
    margin-top: 20%;
    text-align: center;
}

button {
    border-radius: 0%;
    border-color: blue;
}

input {
    border-radius: 0%;
    border-color: red;
}

/*footer {
    margin:0% ;

}
